In [ ]:
def function_name():
    pass

# function_name is function name
#def is keyword
# pass is placeholder

In [ ]:
def function_name():
    pass

function_name(): # calling function

In [8]:
def display():
    print("Hello")

In [9]:
display()

Hello

In [3]:
def add():
    a =10
    b = 20
    print(a+b)
add()

30

In [4]:
add()

30

In [14]:
def display(name , age, address= "Haryana"):
    print(f"my name is {name} and my age is {age} and my address is {address}" )

In [15]:
display("Sanjay", 21)

my name is Sanjay and my age is 21 and my address is Haryana

In [16]:
add = lambda a , b : a+b
add (20,30)

50

In [18]:
square = lambda a: a**2
square (12)

144