#### OOPS concept in Python

In [3]:
class Student:
    name = "Sanjay"
    age = 21
    print(f"my name is {name} and my age is {age}")
obj_st=Student()

my name is Sanjay and my age is 21

In [2]:
obj_st.name

'Sanjay'

In [3]:
obj_st.age

21

In [4]:
class Student:
    name = "Sanjay"
    age = 21

    def info(self):
        print("this is my firts method")

dt_obj = Student()

In [5]:
dt_obj.info()

this is my firts method

In [13]:
class Student:
    name = "Sanjay"
    age = 21

    def info(self):
        print(f"my name is {self.name} and my age is {self.age}")

dt_obj = Student()

In [15]:
dt_obj.info()

my name is Sanjay and my age is 21

#### Inheritence

In [ ]:
class Collage:
    pass
class Student(Collage):
    pass

In [17]:
class Collage:
    collage_name = "Jagannath University"
    collage_address = "Jaipur"

class Student(Collage):
    student_name = "Sanjay"
    Student_id = "22087"

st_obj =Student()
print(st_obj.collage_name)
print(st_obj.collage_address)
print(st_obj.student_name)
print(st_obj.Student_id)

Jagannath University
Jaipur
Sanjay
22087

In [18]:
class Father:
    father_name = "Jaivir"
    father_id = 223
    pass
class Uncle:
    uncle_name = "Rajbir"
    uncle_id = 224
    pass
class Child(Father,Uncle):
    pass

obj_child = Child()
print(obj_child.father_name)
print(obj_child.father_id)
print(obj_child.uncle_name)
print(obj_child.uncle_id)

Jaivir
223
Rajbir
224

In [24]:
class Grandfather:
    grandfather_name = "Ramniwas"
    grandfather_id = 221
    pass

class Father(Grandfather):
    father_name = "Jaivir"
    father_id = 223
    pass

class Child(Father):
    pass

obj_child = Child()
print(obj_child.father_name)
print(obj_child.father_id)
print(obj_child.grandfather_name)
print(obj_child.grandfather_id)

Jaivir
223
Ramniwas
221

### Encapsulation
#### private
#### public
#### protected

In [6]:
class Student:
    __name = "Sanjay"
    age = 21
    _id = "0287"
st_obj =Student()

In [2]:
st_obj.age

21

In [4]:
st_obj._id

'0287'

In [7]:
st_obj.__name

AttributeError: 'Student' object has no attribute '__name'

In [8]:
st_obj._Student__name

'Sanjay'

#### TAsk 
#### Super function    
#### creaate project bmi calculator

In [ ]:
class Bank:
    __account_number = "022008807941"
    _account_holder_name = "Sanjay"
    _address = "Haryana"
    __phone_number = "+916350159971"
    _balance = "22500"
bk_obj =Bank()

In [12]:
bk_obj._account_holder_name

'Sanjay'

In [13]:
bk_obj._address

'Haryana'

In [15]:
bk_obj._Bank__account_number

'022008807941'

In [16]:
bk_obj._balance

'22500'

In [17]:
bk_obj._Bank__phone_number

'+916350159971'

In [18]:
### constructor
# init method
# __init__


class Student:
    def __init__(self):
        pass
Student()

In [19]:
class Student:
    def __init__(self, name, age):
        self.name = name
        self.age = age

obj_st = Student(name = "Sanjay", age =21)

obj_st.name

'Sanjay'

In [20]:
obj_st.age

21

In [21]:
class Student:
    def __init__(self, name, age):
        self.name = name
        self.age = age

obj_st = Student(name = "Sanjay", age =21)

print(obj_st.name)
print(obj_st.age)

Sanjay
21

In [25]:
class Student:
    def __init__(self, name, age, address):
        self.name = name
        self.age = age
        self.address = address

    def display(self):
        print(f"my name is {self.name} and my age is {self.age} and my address is {self.address}")

obj_st =Student(name = "Sanjay", age = 21, address =  "Haryana" )

In [26]:
obj_st.display()

my name is Sanjay and my age is 21 and my address is Haryana

In [ ]:
class Bank:
    def __init__(self, name, age, account_number, phone_number, address):
        self.name = name
        self.age = age
        self.__account_number = account_number  
        self.phone_number = phone_number
        self.address = address

    def deposit(self, amount):
        pass

    def withdraw(self, amount):
        pass

    def total_balance(self):
        pass

    def info(self):
        pass


bn_obj = Bank("Lakshay", 25, "1234567890", "9876543210", "Haryana")

In [35]:
class Bank:
    def __init__(self, name, age, account_number, phone_number, address, amount):
        self.name = name
        self.age = age
        self.__account_number = account_number  
        self.phone_number = phone_number
        self.address = address
        self.amount = amount

    def deposit(self, amount):
        self.amount = self.amount + amount
        return self.amount

    def withdraw(self, amount):
        if amount <= self.amount:
            self.amount -= amount
            return "Withdrawal successful"
        else:
            return "Insufficient balance"

    def total_balance(self):
        return self.amount

    def info(self):
        print("Your name:", self.name)
        print("Your age:", self.age)
        print("Phone:", self.phone_number)
        print("Address:", self.address)
        print("Total Balance:", self.amount)



bn_obj = Bank(name="Lakshay", age=21, account_number="22587", phone_number="078921458", address="Haryana", amount=2000)


bn_obj.deposit(500)
print("After deposit:", bn_obj.total_balance())

print(bn_obj.withdraw(100))
print("After withdrawal:", bn_obj.total_balance())

bn_obj.info()

After deposit: 2500
Withdrawal successful
After withdrawal: 2400
Your name: Lakshay
Your age: 21
Phone: 078921458
Address: Haryana
Total Balance: 2400

#### PROJECT

In [6]:
def calculate_bmi(weight, height):
    bmi = weight / (height ** 2)
    return bmi

def bmi_category(bmi):
    if bmi < 18.5:
        return "Underweight"
    elif 18.5 <= bmi < 25:
        return "Normal weight"
    elif 25 <= bmi < 30:
        return "Overweight"
    else:
        return "Obese"

def main():
    print("Welcome to the BMI Calculator")
    
    while True:
        try:
            weight = float(input("Enter your weight in kilograms (kg): "))
            height = float(input("Enter your height in meters (m): "))

            bmi = calculate_bmi(weight, height)
            category = bmi_category(bmi)

            print(f"\nYour BMI is: {bmi:.2f}")
            print(f"Category: {category}")

        except ValueError:
            print("Please enter valid numbers for weight and height.")

        again = input("\nDo you want to calculate again? (yes/no): ").lower()
        if again != 'yes':
            print("Thank you for using the BMI Calculator.")
            break

if __name__ == "__main__":
    main()

Welcome to the BMI Calculator

Your BMI is: 22.22
Category: Normal weight
Thank you for using the BMI Calculator.